<?xml version="1.0"?>

<launch>

       <!--include file="$(find mm_visual_postion)/launch/visual_wrapper_and_apps.launch"/-->

       <!--include file="$(find mm_video_streamer)/launch/zed_streamer.launch"/-->

       <!--include file="$(find mm_powerup)/launch/mm_ini.launch"/-->

       <!--include file="$(find mm_arm_control)/launch/ur10_test_run.launch"/-->

       <node pkg="mm_mobile_control" type="mm_trans.py" name="mm_trans" output="screen"/>  
 
       <node pkg="mm_arm_control" type="moveit_ik_test.py" name="mm_arm" output="screen"/>  
	
       <node pkg="mm_endmotor_control" type="serial_port" name="mm_endmotor" output="screen"/>  
      
       <node pkg="mm_robot_decision" type="robot_decision.py" name="mm_decision" output="screen" />

       <node pkg="mm_robot_decision" type="websocket.py" name="web_decision" output="screen" />
	
       <node pkg="mm_robot_decision" type="feedback2win.py" name="feedback2win" />

</launch>
